@model IEnumerable<WebApp.Models.HocViens>


<h1>Danh sách học viên</h1>


<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">Handle</th>
    </tr>
  </thead>
  <tbody>
      @foreach (var item in Model)
        {
            <tr>
                <th scope="row">1</th>
                <td>@item.Email</td>
                <td>Otto</td>
            </tr>
        }
  </tbody>
</table>
